[submodule "rainbow-mind-machine"]
	path = rmm
	url = https://github.com/rainbow-mind-machine/rainbow-mind-machine.git
[submodule "b-tripos"]
	path = b-tripos
	url = https://git.charlesreid1.com/bots/b-tripos.git
[submodule "b-milton"]
	path = b-milton
	url = https://git.charlesreid1.com/bots/b-milton.git
[submodule "b-ginsberg"]
	path = b-ginsberg
	url = https://git.charlesreid1.com/bots/b-ginsberg.git
[submodule "b-apollo"]
	path = b-apollo
	url = https://git.charlesreid1.com/bots/b-apollo.git
[submodule "mkdocs-material"]
	path = mkdocs-material
	url = https://git.charlesreid1.com/charlesreid1/mkdocs-material
